* {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

html {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://u.sicp.me/fjcCG.jpg'); /* Temporary -- will try to implement Flickr API later down the line to change bg image to a Flickr search for the location */
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

#topbar {
	color: #FFFFFF;
	background: rgba(61, 62, 61, 0.3);
	padding: 10px;
}

.page {
	color: #FFFFFF;
}

hr {
	background: #FFFFFF;
	height: 1px;
}

form {
	margin-left: 0;
	margin-right: auto;
}

button {
	background-color: white;
	border: white;
	border-width: 1px;
	border-style: solid;
	color: black;
	padding: 7px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

button:hover {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: white;
	border-width: 1px;
	border-style: solid;
}

@media only screen and (max-width: 960px) {
	.page {
		width: 75%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 961px) {
	.page {
		width: 960px;
		margin: 0 auto;
	}
}
