<!DOCTYPE html>
<html>
	<title>Day in the City</title>
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
		<div id="navbar"<b>day</b> in the <b>city</b></div>	
	</head>
	<br>
	<br>
	<br>
	<body>
		<form method="post" action="" >
			<select>
				<option name="city" value="San Francisco" selected>San Francisco, CA</option>
				<option name="city" value="Mountain View">Mountain View, CA</option>
				<option name="city" value="San Jose">San Jose, CA</option>
				<option name="city" value="Oakland">Oakland, CA</option>
				<option name="city" value="Sacramento">Sacramento, CA</option>
			</select>
			<br>
			<br>
			<br>
			<button href="/planhandler">Submit</button>
		</form>
	</body>
</html>
