<!DOCTYPE html>
<html>
	<title>Day in the City</title>
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
var images = ['0001.jpg', '0002.jpg', '0003.jpg', '0004.jpg', '0005.jpg', '0006.jpg', '0007.jpg', '0008.jpg', '0009.jpg', '0010.jpg', '0011.jpg', '0012.jpg', '0013.jpg'];
$('html').css({'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/' + images[Math.floor(Math.random() * images.length)] + ')'});
		</script>
		<div id="topbar">
			<p class="bar">
				<a id="toplink" href="/"> <b>Day</b> in the <b>City</b> </a>
			</p>
		</div>
	</head>
	<br>
	<br>
	<br>
	<br>

	{% block content %}



	{% if current_user %}
	<body>
		<div class="page">
			<div class="welcome">Hello {{current_user}}</div>
			<h3>Select a city</h3>
			<br>
			<hr>
			<br>
			<form method="post" action="" >
				<select name= "city">
					<option name="city" value="Anaheim, CA">Anaheim, CA</option>
					<option name="city" value="Daly City, CA">Daly City, CA</option>
					<option name="city" value="Los Angeles, CA">Los Angeles, CA</option>
					<option name="city" value="Oakland, CA">Oakland, CA</option>
					<option name="city" value="Mountain View, CA">Mountain View, CA</option>
					<option name="city" value="Sacramento, CA">Sacramento, CA</option>
					<option name="city" value="San Diego, CA">San Diego, CA</option>
					<option name="city" value="San Francisco, CA">San Francisco, CA</option>
					<option name="city" value="San Jose, CA">San Jose, CA</option>
					<option name="city" value="San Mateo, CA">San Mateo, CA</option>
				</select>
				<!-- <br>
	    <br>
	    <input id="pac-input" type="text" placeholder ="Enter a location"> -->
	    <br>
	    <br>
      <!-- In the onclick handler:
      1. Get the city that was selected above.
      2. set the window.location to /plan?city= + the city that was selected  -->
	    <button class="rightbutton" onclick="">Next</button>
			</form>
			<br>
			<br>
			<a href= "{{logout_url}}">Log Out</a><br>
		</div>

		{% else %}
		<div class="page">
			<div class="welcome">Welcome to Day in the City, the convenient webapp to help you plan your favorite activities at your destination!</div>
			<br>
			<hr>
			<br>
			<a id="login" href="{{login_url}}">Log In</a><br>
		</div>

		{% endif %}


		{% endblock %}


		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHhIL18jARC4cn2NmXw2V0HUN8whCzLLI&libraries=places"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/javascript/daytravel.js" ></script>

	</body>

</html>
