<!DOCTYPE html>
<html>
  <title>DAY IN THE CITY</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
  <head>DAY IN THE CITY</head>
<br>
<br>
<br>
  <body>
    <form method="post" action ="">
       <h3>Select the activities you'd like to do today: </h3>
       <input onclick="showOptions('foodDiv')" type="checkbox" name="activity" value="Food">Food
       <br>
       <input onclick="showOptions('outdoorDiv')" type="checkbox" name="activity" value="Outdoor Activities">Outdoor Activities
       <br>
       <input onclick="showOptions('familyDiv')" type="checkbox" name="activity" value="Family activities">Family Activities
       <br>
       <input onclick="showOptions('beautyDiv')" type="checkbox" name="activity" value="Beauty">Beauty
       <br>
       <input onclick="showOptions('shoppingDiv')" type="checkbox" name="activity" value="Shopping">Shopping
       <br>
       <input onclick="showOptions('sightseeingDiv')" type="checkbox" name="activity" value="Sightseeing">Sightseeing
       <br>
    </form>
  </body>
</html>
