{% extends "templates/daytravel.html" %}
{% block content %}

<body>
	<div class="page">
		<form id="plan" method="post" action ="">
			<h3>Select the activities you'd like to do today in {{city}}: </h3>
			<br>
			<hr>
			<br>
			<input onclick="showOptions('foodDiv')" type="checkbox" value="Food">Food
			<div id="foodDiv" style="display:none" name="activity">
				<input type="checkbox" name="foodActivity" value="Italian">Italian
				<input type="checkbox" name="foodActivity" value="Chinese">Chinese
				<input type="checkbox" name="foodActivity" value="Dinner">Dinner
				<input type="checkbox" name="foodActivity" value="Coffee">Coffee
			</div>
			<br>
			<input onclick="showOptions('outdoorDiv')" type="checkbox" value="Outdoor Activities">Outdoor Activities
			<div id="outdoorDiv" style="display:none" name="activity">
				<input type="checkbox" name="outdoorActivity" value="Hiking">Hiking
				<input type="checkbox" name="outdoorActivity" value="Water Activities">Water Activities
				<input type="checkbox" name="outdoorActivity" value="State Parks">State Parks
				<input type="checkbox" name="outdoorActivity" value="Camping">Camping
			</div>
			<br>
			<input onclick="showOptions('beautyDiv')" type="checkbox" value="Beauty">Beauty
			<div id="beautyDiv" style="display:none" name="activity">
				<input type="checkbox" name="beautyActivity" value="Hair Salon">Hair Salon
				<input type="checkbox" name="beautyActivity" value="Beauty Salon">Beauty Salon
				<input type="checkbox" name="beautyActivity" value="Nail Salon">Nail Salon
			</div>
			<br>
			<input onclick="showOptions('shoppingDiv')" type="checkbox" value="Shopping">Shopping
			<div id="shoppingDiv" style="display:none" name="activity">
				<input type="checkbox" name="shoppingActivity" value="Clothes">Clothes
				<input type="checkbox" name="shoppingActivity" value="Home">Home
				<input type="checkbox" name="shoppingActivity" value="Books">Books
				<input type="checkbox" name="shoppingActivity" value="Shoes">Shoes
				<input type="checkbox" name="shoppingActivity" value="General">General
			</div>
			<br>
			<input onclick="showOptions('sightseeingDiv')" type="checkbox" name="activity" value="Sightseeing">Sightseeing
			<div id="sightseeingDiv" style="display:none" name="activity">
				<input type="checkbox" name="sightseeingActivity" value="Tours">Tours
				<input type="checkbox" name="sightseeingActivity" value="Historical Attractions">Historical Attractions
				<input type="checkbox" name="sightseeingActivity" value="Landmarks">Landmarks
				<input type="checkbox" name="sightseeingActivity" value="Camping">Camping
			</div>
			<br>
			<input onclick="showOptions('familyDiv')" type="checkbox" name="activity" value="Family Activities">Family Activities
			<div id="familyDiv" style="display:none">
				<input type="checkbox" name="familyActivity" value="Public Parks">Public Parks
				<input type="checkbox" name="familyActivity" value="Libraries">Libraries
			</div>
			<br><br>
			<button class="rightbutton">Submit</button>
			<br>
			<br>
			<br>
		</form>
	</div>
	<script src="/javascript/plan.js" ></script>
</body>

{% endblock %}
</html>
