{% extends "templates/daytravel.html" %}
{% block content %}

<body>
	<div class="page">
		<form id="plan" method="post" action ="">
			<h3>Select the activities you'd like to do today in {{city}}: </h3>
			<br>
			<hr>
			<br>
			<input onclick="showOptions('foodDiv')" type="checkbox" value="Food">Food
			<div id="foodDiv" style="display:none">
				<input type="checkbox" name="activity" value="Food.Breakfast">Breakfast
				<input type="checkbox" name="activity" value="Food.Lunch">Lunch
				<input type="checkbox" name="activity" value="Food.Dinner">Dinner <br>
				<input type="checkbox" name="activity" value="Food.Coffee">Coffee
				<input type="checkbox" name="activity" value="Food.Boba">Boba
				<input type="checkbox" name="activity" value="Food.Ice Cream">Ice Cream
				<input type="checkbox" name="activity" value="Food.Bakery">Bakery
				<input type="checkbox" name="activity" value="Food.Fast Food">Fast Food<br>
				<input type="checkbox" name="activity" value="Food.Chinese">Chinese
				<input type="checkbox" name="activity" value="Food.Thai">Thai
				<input type="checkbox" name="activity" value="Food.Korean">Korean
				<input type="checkbox" name="activity" value="Food.Japanese">Japanese
				<input type="checkbox" name="activity" value="Food.Italian">Italian
				<input type="checkbox" name="activity" value="Food.American">American
				<input type="checkbox" name="activity" value="Food.Mexican">Mexican
        			<input type="checkbox" name="activity" value="Food.French">French
        			<input type="checkbox" name="activity" value="Food.Indian">Indian
			</div>
			<br>

			<input onclick="showOptions('outdoorDiv')" type="checkbox" value="Outdoor Activities">Outdoor Activities
			<div id="outdoorDiv" style="display:none">
				<input type="checkbox" name="activity" value="Outdoor Activities.Hiking">Hiking
        <input type="checkbox" name="activity" value="Outdoor Activities.Camping">Camping
        <input type="checkbox" name="activity" value="Outdoor Activities.Public Parks">Public Parks
        <input type="checkbox" name="activity" value="Outdoor Activities.State Parks">State Parks
        <input type="checkbox" name="activity" value="Outdoor Activities.Water Activities">Water Activities
				<input type="checkbox" name="activity" value="Outdoor Activities.Amusement Parks">Amusement Parks
			</div>
			<br>

			<input onclick="showOptions('shoppingDiv')" type="checkbox" value="Shopping">Shopping
			<div id="shoppingDiv" style="display:none">
				<input type="checkbox" name="activity" value="Shopping.Clothes">Clothes
				<input type="checkbox" name="activity" value="Shopping.Home Shopping">Home
        			<input type="checkbox" name="activity" value="Shopping.Groceries">Groceries
				<input type="checkbox" name="activity" value="Shopping.Books">Books
				<input type="checkbox" name="activity" value="Shopping.Shoes">Shoes
				<input type="checkbox" name="activity" value="Shopping.Beauty">Beauty
				<input type="checkbox" name="activity" value="Shopping.Malls">Malls
			</div>
			<br>

			<input onclick="showOptions('sightseeingDiv')" type="checkbox" value="Sightseeing">Sightseeing
			<div id="sightseeingDiv" style="display:none">
				<input type="checkbox" name="activity" value="Sightseeing.Tours">Tours
				<input type="checkbox" name="activity" value="Sightseeing.Historical Attractions">Historical Attractions
				<input type="checkbox" name="activity" value="Sightseeing.Landmarks">Landmarks
			</div>

			<br><br>
			<button class="rightbutton">Submit</button>
			<br>
			<br>
			<br>
		</form>
		                        <a href= "{{logout_url}}">Log Out</a>
					<br>
					<br>

	</div>
	<script src="/javascript/plan.js" ></script>
</body>

{% endblock %}
</html>
